{% extends 'base.html' %}
{% block content %}
{% if current_user.admin %}
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Создать корпус
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <form class="container" action="#" method="POST">
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="Введите название" required="true"></input>
        </div>
        <div class="form-group">
            <label for="idiom">Корпус какого идиома</label>
            <input type="text" class="form-control" name="idiom" id="idiom" aria-describedby="idiomHelp" placeholder="Введите название идиома" required="true"></input>
        </div>
        <div class="form-group">
            <label for="source">Источник</label>
            <input type="text" class="form-control" name="source" id="source" aria-describedby="sourceHelp" placeholder="Откуда данные" required="true"></input>
        </div>
        <div class="form-group">
            <label for="description">Описание корпуса</label>
            <textarea class="form-control" name="description" id="description" aria-describedby="descriptionHelp" placeholder="Введите описание" required="true"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
    </div>
</div>
{% endif %}
<div class="list-group">
{% for corpus in corpora %}

{% if corpus[6] == 1 %}
  <div class="list-group-item">
  <a href="/corpus/{{corpus.id}}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h2 class="mb-1">{{corpus[1]}}</h2>
      <h5 class="mb-1">{{corpus[3]}}</h5>
      <small class="text-body-secondary">{{corpus[4]}}</small>
    </div>
    <p class="mb-1">{{corpus[2]}}</p>
    <small class="text-body-secondary"><b>{{corpus[5]}}+</b></small>
  </a>
  {% if session.login == corpus[3] %}
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-warning" role="button" href="/edit/{{corpus[0]}}">Редактивароть</a>
  <form href="/corpora" method="post">
    <button type="submit" class="btn btn-danger" name="del" value='{"corpus_id":"{{corpus[0]}}","author":"{{corpus[3]}}"}'>Удалить</button>
  </form>
  </div>
  {% endif %}
  </div>
{% endif %}
{% endfor %}
</div>
{% endblock %}
