{% extends 'base.html' %}
{% block content %}

{% if current_user.admin %}
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#corpuscreate" aria-expanded="false" aria-controls="corpuscreate">
    Создать корпус
  </button>
</p>
<div class="collapse" id="corpuscreate">
  <div class="card card-body">
    <form class="container" action="#" method="POST">
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="Введите название" required="true"></input>
            {% if message == 'existing corpus' %}
            <div class="alert alert-danger" role="alert">
                Корпус с таким названием уже существует
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="idiom">Корпус какого идиома?</label>
            <select class="form-control" name="idiom" id="idiom" aria-describedby="idiomHelp" required>
                <option value="" selected disabled>Выберите идиому</option>
                {% for idiom in idioms %}
                <option value="{{ idiom.id }}">{{ idiom.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="source">Источник</label>
            <input type="text" class="form-control" name="source" id="source" aria-describedby="sourceHelp" placeholder="Откуда данные" required="true"></input>
        </div>
        <div class="form-group">
            <label for="description">Описание корпуса</label>
            <textarea class="form-control" name="description" id="description" aria-describedby="descriptionHelp" placeholder="Введите описание" required="true"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
    </div>
</div>
{% endif %}

{% for corpus in corpora %}
    <a href="/corpora/{{ corpus.id }}" class="corpus-link">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ corpus.name }}</h5>
                <p class="card-text"><strong>Источник:</strong> {{ corpus.source }}</p>
                <p class="card-text"><strong>Описание:</strong> {{ corpus.description }}</p>
                <p class="card-text"><strong>Идиома:</strong> {{ corpus.idiom.name }}</p>
            </div>
        </div>
    </a>
{% endfor %}

{% endblock %}
